@tailwind base;
@tailwind components;
@tailwind utilities;

.rcb-toggle-button {
  width: 50px !important;
  height: 48px !important;
}

.rcb-chat-tooltip.rcb-tooltip-show {
  display: none;
}

.rcb-toggle-icon {
  width: 50px !important;
  height: 48px !important;
}

.rcb-badge {
  width: 20px !important;
  height: 20px !important;
  font-size: 12px;
}
.doughnut-chart {
  height: 300px !important;
}

input:focus {
  outline: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
